<div *ngIf="artist" class="artist-box">
  <div class="artist-head-card">
      <div class="image" *ngIf="artist.image != null" >
          <img src="{{ url + 'get-image-artist/'+ artist.image }}" >  
      </div> 
      <div class="data">
          <h1 class="display-1">{{artist.name}}</h1>
          <h4 class="display-4">{{artist.description}}</h4>
          <a *ngIf="identity.role == 'ROLE_ADMIN'" class="btn btn-default">
            Añadir album
          </a>
      </div>
     
  </div>
  <div class="clearfix"></div>
   <div class="gallery-albums" *ngIf="albums">

   </div>

</div>